.stats, .result{
    width: 160px;
    margin: 0 auto;
    padding: 20px;
}

.result {
    text-align: center;
}

.stats {
    display: flex;
    justify-content: space-between;
}

.stats input {
    width: 50px;
}

.game-field {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.game-field .row {
    height: 16px;
    display: flex;
}

.game-field .row .field {
    height: 16px;
    width: 16px;
    background: url('../img/closed-field.png');
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-field .row .open {
    background: url('../img/open-field.png');
    text-align: center;
}

.game-field .row .boom {
    background: url('../img/mine.png');
}

.game-field .row .flag {
    background: url('../img/flag.png');
}